.Drop-zone {
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  text-align: center;
  padding-top: 35vh;
}

.Header-text {
  font-family: 'Copse', serif;
  cursor: pointer;
}

.Drop-container {
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  background-color: rgb(220, 220, 220);
  padding: 1rem;
}

.Drop-container-active {
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  background-color: rgb(180, 180, 180);
}

.Error-text {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.Error-text-lines {
  margin-top: 0;
  text-align: center;
  font-size: 1.2rem;
}

.Loading-container {
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  background-color: rgb(180, 180, 180);
  padding-top: 35vh;
}

.Loading-image {
  margin:auto;
}